Flask==3.0.3
Flask-Login==0.6.3
SQLAlchemy==2.0.23
pandas==2.1.4 
mysql-connector-python==9.0.0
xgboost==2.1.1
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
openpyxl==3.1.2
Werkzeug==3.0.1
flask-mail
numpy==1.26.4
opencv-python==4.8.1.78
mediapipe==0.10.9
protobuf==3.20.3
tensorflow-intel==2.15.0
